<!DOCTYPE html>
<html lang="en" ng-app="film">
<head>
	<meta charset="UTF-8">
	<title>主页</title>
	<link rel="stylesheet" href="../css/font/iconfont.css" />
	<link rel="stylesheet" href="../css/font_register/iconfont.css" />
	<link rel="stylesheet" href="../css/index.css" />
</head>
<body ng-controller="index" index-directive>
	<div id="head">
		<a href="" ui-sref="home"><img src="../img/logo.png" alt="logo" /></a>
		<span class="search">
			<label for="search_film">
				<input type="text" placeholder="请输入关键字" name="search_film" id="search_film" ng-model="filmSearchName" ng-keyup="keyup($event)" />
				<i class="iconfont icon-sousuo-sousuo" ng-click="searchByName()"></i>
			</label>
			<ul ng-hide="showName">
				<li><a href="javascript:;" ng-click="sign = true; trans = 'innow'">登录</a></li>
				<li class="cut">|</li>
				<li><a href="javascript:;" ng-click="sign = true; trans = 'upnow'">注册</a></li>	
			</ul>
			<ul ng-show="showName">
				<li><a href="javascript:;" ui-sref="user">{{showName}}</a></li>
				<li class="cut">|</li>
				<li><a href="javascript:;" ng-click="logout()">退出</a></li>	
			</ul>
		</span>
	</div>
	<div id="classify" ng-show="classShow">
		<div>
			<span class="title">
				<span>分类</span>
				<div>
					<a href="javascript:;" ng-repeat="item in classifyKind" ng-click="searchByKind(item, $index)" ng-class="{true: 'kind_active'}[$index == isActive]">
						{{item}}
					</a>
				</div>
			</span>
		</div>
	</div>
	<div ui-view="index" id="index"></div>
	<div id="foot">
		<p>Copyright © 2017 课程设计OFMS</p>
	</div>
	<div id="sign" ng-show="sign">
		<div class="bg" ng-click="sign = false"></div>
		<div class="signbox">
			<div ng-class="trans">
				<div class="in inup">
					<span class="title">登录</span>
					<label for="name">
						<i class="iconfont icon-renyuan"></i>
						<input type="text" placeholder="请输入用户名" ng-model="user.UserName"  ng-keyup="keyup($event)" />
					</label>
					<label for="password">
						<i class="iconfont icon-suo"></i>
						<input type="password" placeholder="请输入密码" ng-model="user.UserPswd"  ng-keyup="keyup($event)" />
					</label>
					<div class="another">
						<a href="" ng-click="trans = 'upnow'">注册</a>
						<a href="">忘记密码</a>
					</div>
					<input type="button" value="登录" ng-click="signin()" />
				</div>
				<div class="up inup">
					<span class="title">注册</span>
					<span ng-hide="verifyFlag">
						<label for="name">
							<i class="iconfont icon-renyuan"></i>
							<input type="text" placeholder=" 请输入用户名" ng-model="user.UserName"  ng-keyup="keyup($event)" />
						</label>
						<label for="password">
							<i class="iconfont icon-suo"></i>
							<input type="password" placeholder="请输入密码" ng-model="user.UserPswd"  ng-keyup="keyup($event)" />
						</label>
					</span>
					<span ng-show="verifyFlag">
						<label for="mail">
							<i class="iconfont icon-youxiang"></i>
							<input type="email" placeholder="请输入邮箱" ng-model="user.Email" />
							<input type="submit" value="{{sendEmailValue}}" ng-click="sendEmail()"/>
						</label>
						<label for="verify">
							<i class="iconfont icon-yanzhengma"></i>
							<input type="text" placeholder="请输入验证码" ng-model="user.Verify" />
						</label>
					</span>
					<div class="another">
						<a href="" ng-click="trans = 'innow'">登录</a>
						<a ng-show="verifyFlag" href="" ng-click="back()">上一步</a>
					</div>
					<input ng-hide="verifyFlag" type="button" value="下一步" ng-click="signupOne()" />
					<input ng-show="verifyFlag" type="button" value="注册" ng-click="signupTwo()" />
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../js/lib/angular/angular.min.js"></script>
<!-- <script src="../js/lib/ngAnimate/js/angular-animate.min.js"></script> -->
<script src="../js/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<!-- <script src="../js/lib/angular.min.js"></script> -->
<!-- <script src="../js/lib/angular-animate.min.js"></script> -->
<!-- <script src="../js/lib/angular-ui-router.min.js"></script> -->
<script src="../js/app.js"></script>
<script src="../js/router.js"></script>
<script src="../js/service.js"></script>
<script src="../js/filter.js"></script>
<script src="../js/controller/index.js"></script>
<script src="../js/controller/home.js"></script>
<script src="../js/controller/search.js"></script>
<script src="../js/controller/overview.js"></script>
<script src="../js/controller/user.js"></script>
</html>