<!DOCTYPE html>
<html lang="en" ng-app="film">
<head>
	<meta charset="UTF-8">
	<title>主页</title>
	<link rel="stylesheet" href="../css/font_register/iconfont.css" />
	<link rel="stylesheet" href="../css/font/iconfont.css" />
	<link rel="stylesheet" href="../css/index.css" />
</head>
<body ng-controller="index" index-directive class="clearfix">
	<!-- <div id="wrap"> -->
		<div id="head">
			<a href="" ui-sref="home"><img src="../img/logo.png" alt="logo" /></a>
			<span class="search">
				<label for="search_film">
					<input type="text" placeholder="请输入关键字" name="search_film" id="search_film" ng-model="filmSearchName" ng-keyup="keyupSearch($event)" />
					<i class="iconfont icon-sousuo-sousuo" ng-click="searchByName()"></i>
				</label>
				<ul ng-hide="showName">
					<li><a href="javascript:;" ng-click="sign = true; trans = 'innow'">登录</a></li>
					<li class="cut">|</li>
					<li><a href="javascript:;" ng-click="sign = true; trans = 'upnow'">注册</a></li>	
				</ul>
				<ul ng-show="showName">
					<li><a href="javascript:;" ng-click="gotoUser()">{{showName}}</a></li>
					<li class="cut">|</li>
					<li><a href="javascript:;" ng-click="logout()">退出</a></li>	
				</ul>
			</span>
		</div>
		<div id="content">
			<div id="classify" ng-show="classShow">
				<div>
					<span class="title">
						<span>分类</span>
						<div>
							<a href="javascript:;" ng-repeat="item in classifyKind" ng-click="searchByKind(item, $index)" ng-class="{true: 'kind_active'}[$index == isActive]">
								{{item}}
							</a>
						</div>
					</span>
				</div>
			</div>
			<div ui-view="index" id="index"></div>
		</div>
		<div id="foot">
			<p>Copyright © 2017 课程设计OFMS</p>
		</div>
		<div id="sign" ng-show="sign">
			<div class="bg"></div>
			<div class="signbox">
				<div ng-class="trans">
					<div class="in inup">
						<span class="title">
							登录
							<i class="iconfont icon-icon" ng-click="sign = false"></i>
						</span>
						<span ng-show="forgetPassword == 0">
							<label for="name">
								<i class="iconfont icon-renyuan"></i>
								<input type="text" placeholder="请输入用户名" ng-model="user.UserName" />
							</label>
							<label for="password">
								<i class="iconfont icon-suo"></i>
								<input type="password" placeholder="请输入密码" ng-model="user.UserPswd" />
							</label>
							<div class="another">
								<a href="" ng-click="trans = 'upnow'">注册</a>
								<a href="" ng-click="forgetPassword = 1">忘记密码</a>
							</div>
						</span>
						<span ng-show="forgetPassword == 1">
							<label for="forgetPasswordOne">
								<i class="iconfont icon-youxiang1"></i>
								<input type="text" placeholder="请输入邮箱" ng-model="forget.Email" />
								<input type="submit" value="{{sendEmailValue}}" ng-click="sendEmail(0)"/>
							</label>
							<label for="verify">
								<i class="iconfont icon-suo"></i>
								<input type="text" placeholder="请输入验证码" ng-model="forget.Verify" />
							</label>
							<div class="another">
								<a href="" ng-click="trans = 'upnow'">注册</a>
								<a href="" ng-click="forgetPasswordOneBack()">忘记密码</a>
							</div>
						</span>
						<span ng-show="forgetPassword == 2">
							<label for="forgetPasswordTwo">
								<i class="iconfont icon-suo"></i>
								<input type="password" placeholder="请输入新密码" ng-model="forget.NewPassword" />
							</label>
							<label for="password">
								<i class="iconfont icon-suo"></i>
								<input type="password" placeholder="请重复新密码" ng-model="forget.AgainPassword" />
							</label>
							<div class="another">
								<a href="" ng-click="trans = 'upnow'">注册</a>
								<a href="" ng-click="forgetPasswordTwoBack()">上一步</a>
							</div>
						</span>
						<input ng-hide="forgetPassword != 0" type="button" value="登录" ng-click="signin()" />
						<input ng-hide="forgetPassword != 1" type="button" value="下一步" ng-click="forgetPasswordOne()" />
						<input ng-hide="forgetPassword != 2" type="button" value="确定" ng-click="forgetPasswordTwo()" />
					</div>
					<div class="up inup">
						<span class="title">
							注册
							<i class="iconfont icon-icon" ng-click="sign = false"></i>
						</span>
						<span ng-if="!verifyFlag">
							<label for="name">
								<i class="iconfont icon-renyuan"></i>
								<input type="text" placeholder=" 请输入用户名" ng-model="user.UserName" />
							</label>
							<label for="password">
								<i class="iconfont icon-suo"></i>
								<input type="password" placeholder="请输入密码" ng-model="user.UserPswd" />
							</label>
						</span>
						<span ng-if="verifyFlag">
							<label for="mail">
								<i class="iconfont icon-youxiang1"></i>
								<input type="text" placeholder="请输入邮箱" ng-model="user.Email" />
								<input type="submit" value="{{sendEmailValue}}" ng-click="sendEmail(1)"/>
							</label>
							<label for="verify">
								<i class="iconfont icon-yanzhengma1"></i>
								<input type="text" placeholder="请输入验证码" ng-model="user.Verify" />
							</label>
						</span>
						<div class="another">
							<a href="" ng-click="trans = 'innow'">登录</a>
							<a ng-if="verifyFlag" href="" ng-click="back()">上一步</a>
						</div>
						<input ng-if="!verifyFlag" type="button" value="下一步" ng-click="signupOne()" />
						<input ng-if="verifyFlag" type="button" value="注册" ng-click="signupTwo()" />
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->
</body>
<script src="../js/lib/angular/angular.min.js"></script>
<!-- <script src="../js/lib/ngAnimate/js/angular-animate.min.js"></script> -->
<script src="../js/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<!-- <script src="../js/lib/angular.min.js"></script> -->
<!-- <script src="../js/lib/angular-animate.min.js"></script> -->
<!-- <script src="../js/lib/angular-ui-router.min.js"></script> -->
<script src="../js/app.js"></script>
<script src="../js/router.js"></script>
<script src="../js/service.js"></script>
<script src="../js/filter.js"></script>
<script src="../js/controller/index.js"></script>
<script src="../js/controller/home.js"></script>
<script src="../js/controller/search.js"></script>
<script src="../js/controller/overview.js"></script>
<script src="../js/controller/user.js"></script>
</html>