#index, .list, .listinfo > div, #head, #classify, #foot, #sign, #sign .another, #home .content, #home .right .table, #overview, #user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

body {
  font-size: 16px;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

a {
  text-decoration: none; }

ul, li {
  list-style-type: none; }

#index {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  min-height: 500px; }

.list {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1%; }

.list > div {
  width: 18%;
  background: #f2f2f2;
  margin: 1%;
  cursor: pointer; }

.list img {
  width: 100%; }

.list span {
  display: block; }

.list div > span {
  padding: 10px; }

.list .name {
  font-size: 14px; }

.list .about {
  font-size: 12px; }

.list .about:hover {
  color: #ff8900; }

.listinfo > div {
  height: 200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  border-bottom: 1px solid #f2f2f2; }

.listinfo img {
  height: 100%;
  width: 20%; }

#head {
  width: 100%;
  background: #333;
  padding: 10px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

#head img {
  width: 120px;
  height: 30px;
  position: relative;
  left: 50px; }

#head .search {
  position: relative;
  left: -50px; }

#head .search input {
  width: 220px;
  height: 26px;
  padding: 2px 10px;
  vertical-align: middle;
  float: left; }

#head .search i {
  width: 34px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  float: left;
  background: #336699;
  color: #fff;
  cursor: pointer; }

#head .search ul {
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  margin-left: 25px; }

#head .search ul,
#head .search li {
  float: left; }

head .search li {
  padding: 0 5px; }

#head .search li a {
  color: #fff; }

#head .search .cut {
  color: #fff;
  margin: 0 10px; }

#classify {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  width: 100%; }

#classify > div {
  margin-top: 20px;
  width: 90%; }

#foot {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  background: #333;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
  margin-top: 20px; }

#sign {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

#sign .bg {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5; }

#sign .signbox {
  position: absolute;
  width: 26%;
  height: 46%;
  background: #fff;
  padding: 2%;
  box-shadow: 0px 0px 1px 1px #f5f5f5;
  border-radius: 2px; }

#sign .title {
  border-bottom: 5px solid #336699;
  display: block;
  font-size: 22px;
  font-weight: bold; }

#sign label {
  display: block;
  border-bottom: 1px solid #f5f5f5;
  margin: 40px 20px; }

#sign label input {
  font-size: 14px; }

#sign label i {
  color: #6699ff;
  font-size: 20px; }

#sign .another {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding: 0 29px;
  font-size: 13px;
  text-align: left; }

#sign .another a {
  color: #336699; }

#sign input[type=button] {
  display: block;
  width: 60%;
  background: #6699ff;
  margin: 0 auto;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  margin-top: 40px;
  font-size: 18px; }

#sign input[type=button]:hover {
  background: #336699; }

#home {
  margin-top: 20px;
  width: 90%; }

#home .content {
  margin-top: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

#home .hot,
#home .recommond,
#home .right {
  border: 1px solid #e9e9e9; }

#home .recommond {
  margin-top: 20px; }

#home .left .title,
#home .right .title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #e9e9e9;
  display: block;
  padding: 4px 1%; }

#home .left {
  width: 76%; }

#home .right {
  width: 23%; }

#home .right .table {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding: 7px;
  border-bottom: 1px solid #e9e9e9;
  font-size: 14px; }

#home .right .table span:last-child {
  color: #999; }

#search {
  width: 90%;
  border: 1px solid #e9e9e9;
  margin-top: 20px; }

#overview {
  width: 90%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

#overview .left {
  width: 20%; }

#overview .left img {
  width: 100%; }

#user {
  width: 90%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

#user .left {
  width: 16%;
  background: #f2f2f2;
  padding: 1%;
  background: #262d40;
  color: #fff; }

#user .right {
  width: 77%;
  border: 1px solid #f2f2f2;
  padding: 1%; }

#user .left li a {
  color: #333;
  font-size: 14px;
  margin-left: 5px;
  color: #fff; }

#user .left .title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #f2f2f2;
  display: block;
  padding: 3px; }

#user .left ul {
  margin-top: 20px; }

#user .left ul li {
  line-height: 32px;
  padding-left: 5px;
  border-radius: 4px; }

#user .left ul li:hover,
#user .left ul li.active {
  background: #488fd2;
  border-left: 5px solid #245c90; }

/*# sourceMappingURL=index.css.map */
