body, #index, .list, .listinfo > div, .page, #head, #classify, #classify .title, #foot, .popup,
#sign, .popup > div.comfirm, .rating, #sign .another, #home .content, #home .right .table, #home .scroller_film, #home .scrollerLeft,
#home .scrollerRight, #search .list_search, #overview, #overview .cloumn3 > p, #overview .buy, #user, #user #mycount,
#user #myinfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

body {
  font-size: 16px;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 100%; }

html, body {
  height: 100%; }

#content {
  flex: 1 0 auto; }

a {
  text-decoration: none; }

ul, li {
  list-style-type: none; }

#index {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

@keyframs showindex {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-webkit-keyframes showindex {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#index > div {
  animation: showindex 2s;
  -webkit-animation: showindex 2s; }

.list {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1%; }

.list > div {
  width: 18%;
  height: 260px;
  background: #f2f2f2;
  margin: 1%;
  cursor: pointer;
  position: relative;
  overflow: auto; }

.list > div:hover .about {
  display: block; }

.list img {
  width: 100%;
  height: 70%; }

.list span {
  display: block; }

.list div > span {
  padding: 8px; }

.list .name {
  font-size: 13px;
  height: 34px;
  overflow: hidden; }

.list .score {
  font-size: 10px;
  color: #ff8900; }

.list .about {
  animation: showindex 1s;
  -webkit-animation: showindex 1s;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 4%;
  overflow: auto;
  width: 92%;
  word-wrap: break-word;
  word-break: break-word; }

.list > div:nth-child(odd) .about {
  background: rgba(51, 102, 153, 0.9); }

.list > div:nth-child(even) .about {
  background: rgba(33, 150, 143, 0.9); }

.list .about p {
  font-size: 12px;
  padding: 2px 0; }

.listinfo > div {
  height: 200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  border-bottom: 1px solid #f2f2f2; }

.listinfo img {
  height: 100%;
  width: 20%; }

.page {
  width: 100%;
  margin: 30px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.page span {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
  cursor: pointer; }

.page span:first-child,
.page span:last-child {
  border: 1px solid #e4e4e4; }

.page span:first-child {
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  border-right: 0; }

.page span:last-child {
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%; }

.page span:hover,
.page span:active {
  background: #e4e4e4; }

.page span.active {
  color: #fff;
  background: #666;
  border: 1px solid #666; }

#head {
  width: 100%;
  background: #333;
  padding: 10px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  transition: display 1s;
  flex: 0 0 auto; }

#head img {
  width: 120px;
  height: 30px;
  position: relative;
  left: 50px; }

#head .search {
  position: relative;
  left: -50px; }

#head .search input {
  width: 220px;
  height: 26px;
  padding: 2px 10px;
  vertical-align: middle;
  float: left;
  background: #999;
  transition: background 1s; }

#head .search input:focus {
  background: #fff; }

#head .search i {
  width: 34px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  float: left;
  background: #336699;
  color: #fff;
  cursor: pointer; }

#head .search ul {
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  margin-left: 25px; }

#head .search ul,
#head .search li {
  float: left; }

head .search li {
  padding: 0 5px; }

#head .search li a {
  color: #fff; }

#head .search .cut {
  color: #fff;
  margin: 0 10px; }

#head .show_name {
  color: #fff;
  line-height: 30px;
  margin-left: 10px; }

#classify {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  width: 100%; }

#classify > div {
  margin-top: 20px;
  width: 90%; }

#classify .title {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  width: 80%; }

#classify .title span {
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
  display: inline-block;
  height: 100%;
  width: 4%; }

#classify .title > div {
  width: 96%; }

#classify .title a {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 13px;
  background: #f2f2f2;
  color: #000; }

#classify .title .kind_active,
#classify .title a:hover {
  color: #fff;
  background: #4b8ccb; }

#foot {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  background: #333;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
  flex: 0 0 auto;
  margin-top: 20px; }

.popup,
#sign {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

#sign .bg,
.popup .bg_pop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5; }

.popup > div:last-child {
  text-align: center;
  position: relative;
  width: 25%;
  height: 25%;
  padding: 1%;
  border-radius: 3%;
  background: #fff; }

.popup > div:last-child span {
  float: right;
  display: inline-block;
  width: 20px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
  background: red;
  color: #fff; }

.popup > div:last-child p {
  margin-top: 10%; }

.popup > div:last-child input[type=button] {
  display: block;
  background: #6699ff;
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
  color: #fff;
  padding: 5px 0;
  margin-top: 20%;
  font-size: 18px;
  transition: background 0.5s; }

.popup > div:last-child input[type=button]:hover {
  background: #336699; }

.popup > div.comfirm input[type=button] {
  width: 40%;
  padding: 4px 0;
  font-size: 15px; }

.popup > div.comfirm {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  height: auto; }

.popup > div.comfirm input[type=button].cancle {
  background: #ff5722; }

.popup > div.comfirm input[type=button].cancle:hover {
  background: #ab310a; }

.rating {
  padding: 5px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.rating i {
  background: #fff;
  font-size: 15px;
  font-style: normal; }

.rating-1 .star-1,
.rating-2 .star-1,
.rating-3 .star-1,
.rating-4 .star-1,
.rating-5 .star-1 {
  color: #ff8900; }

.rating-2 .star-2,
.rating-3 .star-2,
.rating-4 .star-2,
.rating-5 .star-2 {
  color: #ff8900; }

.rating-3 .star-3,
.rating-4 .star-3,
.rating-5 .star-3 {
  color: #ff8900; }

.rating-4 .star-4,
.rating-5 .star-4 {
  color: #ff8900; }

.rating-5 .star-5 {
  color: #ff8900; }

.button {
  width: 64px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  float: left;
  background: #336699;
  color: #fff;
  cursor: pointer;
  transition: 0.5s linear; }

.button:hover {
  background: #336699;
  transition: 0.5s linear; }

#sign .signbox {
  position: relative;
  width: 26%;
  height: 320px;
  background: #fff;
  padding: 2%;
  box-shadow: 0px 0px 1px 1px #f5f5f5;
  border-radius: 2px; }

#sign .title {
  border-bottom: 5px solid #336699;
  display: block;
  font-size: 22px;
  font-weight: bold; }

#sign .title i {
  float: right;
  color: red;
  cursor: pointer;
  font-size: 24px; }

#sign label {
  display: block;
  border-bottom: 1px solid #f5f5f5;
  margin: 40px 20px; }

#sign label input {
  font-size: 14px;
  opacity: 0.8;
  padding-left: 10px; }

#sign label i {
  color: #6699ff;
  font-size: 20px; }

#sign .another {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding: 0 29px;
  font-size: 13px;
  text-align: left; }

#sign .another a {
  color: #336699; }

#sign input[type=submit],
#sign input[type=button] {
  display: block;
  width: 60%;
  background: #6699ff;
  margin: 0 auto;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  margin-top: 40px;
  font-size: 18px;
  transition: background 0.5s; }

#sign input[type=submit] {
  display: inline-block;
  padding: 2px 0;
  font-size: 14px;
  width: 30%;
  position: relative;
  left: 7%;
  margin-top: 0px; }

#sign input[type=submit]:hover,
#sign input[type=button]:hover {
  background: #336699; }

#sign .signbox > div {
  position: relative;
  transform-style: preserve-3d;
  transition: 2s ease 0s;
  transform-origin: 50% 0px 0px; }

#sign .inup {
  position: absolute;
  left: 0;
  right: 0; }

#sign .in {
  background: #fff;
  transition: 2s ease 0s;
  transform-origin: bottom; }

#sign .up {
  transform-origin: top;
  transform: rotateX(-60deg);
  background: #fff;
  transition: 2s ease 0s; }

#sign .innow .up {
  transform: rotateX(-90deg); }

#sign .innow .in {
  transform: rotateX(0deg); }

#sign .upnow .up {
  transform: rotateX(0deg); }

#sign .upnow .in {
  transform: rotateX(90deg); }

#home {
  width: 90%; }

#home .content {
  margin-top: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

#home .hot,
#home .recommond,
#home .right {
  border: 1px solid #e9e9e9; }

#home .recommond {
  margin-top: 20px; }

#home .left .title,
#home .right .title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #e9e9e9;
  display: block;
  padding: 4px 1%; }

#home .left .title span:last-child {
  display: inline-block;
  font-size: 10px;
  font-weight: normal;
  padding: 1px 6px;
  cursor: pointer;
  float: right;
  border: 1px solid #ccd0d7;
  border-radius: 4px; }

#home .left .title span:last-child:hover {
  background: #f2f2f2; }

#home .left {
  width: 79%; }

#home .right {
  width: 20%; }

#home .right .table {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding: 7px;
  border-bottom: 1px solid #e9e9e9;
  font-size: 14px; }

#home .right .table span:last-child {
  color: #999;
  position: relative;
  top: 3px; }

#home .right .table span {
  vertical-align: middle; }

#home .right .table:hover {
  color: #ff8900;
  cursor: pointer; }

#home .right .page {
  margin: 15px 0; }

#home .right .page span {
  background: #fff;
  border: 0px; }

#home .right .page span.active,
#home .right .page span:hover {
  color: #ff8900; }

#home .scroller_film {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  width: 100%; }

#home .listfavor {
  flex-wrap: nowrap;
  display: block;
  width: 90%;
  height: 275px;
  overflow: hidden;
  white-space: nowrap; }

#home #listfavor {
  position: relative;
  left: 0px;
  width: 100%; }

#home #listfavor > div {
  width: 18%;
  height: 260px;
  background: #f2f2f2;
  margin: 1%;
  cursor: pointer;
  position: relative;
  overflow: auto; }

#home #listfavor > div:hover .about {
  display: block; }

#home #listfavor img {
  width: 100%;
  height: 70%; }

#home #listfavor span {
  display: block; }

#home #listfavor div > span {
  padding: 8px; }

#home #listfavor .name {
  font-size: 13px;
  height: 34px;
  overflow: hidden; }

#home #listfavor .score {
  font-size: 10px;
  color: #ff8900; }

#home #listfavor .about {
  animation: showindex 1s;
  -webkit-animation: showindex 1s;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 4%;
  overflow: auto;
  width: 92%;
  word-wrap: break-word;
  word-break: break-word; }

#home #listfavor > div:nth-child(odd) .about {
  background: rgba(51, 102, 153, 0.9); }

#home #listfavor > div:nth-child(even) .about {
  background: rgba(33, 150, 143, 0.9); }

#home #listfavor .about p {
  font-size: 12px;
  padding: 2px 0; }

#home #scroller_film.move_left {
  left: -260px !important;
  transition: 2s linear; }

#home #listfavor > div {
  width: 23%;
  display: inline-block; }

#home .scrollerLeft,
#home .scrollerRight {
  width: 5%;
  background: #fff;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

#home .scrollerLeft i,
#home .scrollerRight i {
  width: 100%;
  font-size: 30px; }

#search {
  width: 90%;
  border: 1px solid #e9e9e9;
  margin-top: 20px; }

#search .list_search {
  padding: 1%;
  border-bottom: 1px solid #e9e9e9;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

#search .list_search > div:first-child,
#search .list_search > div:last-child {
  width: 15%;
  text-align: center; }

#search .list_search > div.about {
  padding: 0 5%;
  width: 60%; }

#search .list_search > div.about p {
  font-size: 14px;
  margin-bottom: 10px; }

#search .list_search img {
  width: 100%;
  height: 80%; }

#search .overview {
  background: #2196f3;
  color: #fff;
  margin-top: 10px;
  padding: 8px 15px;
  transition: 2s linear;
  position: relative;
  top: 20px; }

#search .overview:hover {
  transition: 2s linear;
  background: #336699; }

#search .page p {
  float: right;
  margin-left: 10px;
  font-size: 14px;
  line-height: 32px; }

#overview {
  margin-top: 30px;
  width: 90%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

#overview .cloumn1 {
  width: 20%; }

#overview .cloumn1 img {
  width: 100%; }

#overview .cloumn2 {
  width: 60%;
  padding: 0 3%; }

#overview .cloumn2 p {
  padding: 5px 0;
  font-size: 14px; }

#overview .cloumn3 {
  width: 15%;
  padding-right: 5%; }

#overview .cloumn3 > p {
  padding: 5px 5px 0 0;
  color: #ff8900;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold; }

#overview .cloumn3 > p span {
  display: inline-block;
  color: #333; }

#overview .cloumn3 > p.vote {
  font-size: 14px;
  font-weight: normal; }

#overview .buy {
  margin-top: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

#overview .buy input {
  padding: 6px 15px;
  color: #fff;
  cursor: pointer;
  background: #ff5722;
  transition: 1s linear; }

#overview .buy input:hover {
  background: #a70707;
  transition: 0.5s linear; }

#overview .buy input:last-child {
  background: #2196f3; }

#overview .buy input:last-child:hover {
  background: #336699;
  transition: 0.5s linear; }

#overview .para {
  display: inline; }

#user {
  margin-top: 30px;
  width: 90%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

#user .left {
  width: 16%;
  background: #f2f2f2;
  padding: 1%;
  background: #262d40;
  color: #fff;
  min-height: 657px; }

#user .right {
  width: 77%;
  border: 1px solid #f2f2f2;
  padding: 1%; }

#user .right > div {
  animation: showindex 2s;
  -webkit-animation: showindex 2s; }

#user .left li a {
  color: #333;
  font-size: 14px;
  margin-left: 5px;
  color: #fff;
  display: inline-block; }

#user .left .title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #f2f2f2;
  display: block;
  padding: 3px; }

#user .left ul {
  margin-top: 20px; }

#user .left ul li {
  line-height: 32px;
  padding-left: 5px;
  border-radius: 4px;
  transition: 0.5s ease 0s; }

#user .left ul li:hover,
#user .left ul li.active {
  background: #488fd2;
  border-left: 5px solid #245c90; }

#user #myfilm .listinfo > div {
  height: auto;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  -webkit-align-items: initial;
  -moz-align-items: initial;
  align-items: initial;
  margin-top: 15px; }

#user #myfilm .listinfo > div:first-child {
  margin-top: 5px; }

#user #myfilm ul {
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #f2f2f2; }

#user #myfilm ul a {
  background: #f2f2f2;
  color: #000;
  font-size: 14px;
  border-radius: 4px;
  padding: 3px 4px;
  transition: 0.3s linear;
  margin-right: 10px; }

#user #myfilm ul a:hover,
#user #myfilm ul a.active {
  background: #336699;
  color: #fff;
  transition: 0.3s linear; }

#user #myfilm .listinfo .cloumn1 {
  width: 15%; }

#user #myfilm .listinfo .cloumn1 img {
  width: 100%;
  height: auto; }

#user #myfilm .listinfo .cloumn2 {
  width: 70%;
  font-size: 15px; }

#user #myfilm .listinfo .cloumn2 p {
  margin-bottom: 10px; }

#user #mycount,
#user #myinfo {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 100%; }

#user #mycount > div,
#user #myinfo > div {
  position: relative;
  top: -20px; }

#user #mycount > div > div,
#user #myinfo > div > div > div {
  margin-bottom: 20px;
  font-size: 15px;
  overflow: hidden; }

#user #mycount > div > div:last-child,
#user #myinfo > div > div:last-child {
  margin-bottom: 0; }

#user #mycount > div input[type=text],
#user #myinfo > div input[type=text],
#user #myinfo > div input[type=password] {
  width: 220px;
  height: 26px;
  padding: 2px 10px;
  vertical-align: middle;
  float: left;
  background: #f2f2f2;
  transition: background 1s; }

#user #mycount > div input[type=submit],
#user #myinfo > div input[type=submit] {
  width: 64px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  float: left;
  background: #336699;
  color: #fff;
  cursor: pointer; }

/*# sourceMappingURL=index.css.map */
