<div id="myfilm" user-film-directive>
	<ul>
		<li>
			<a href="" ng-click="getFilm(3)" ng-class="{true: 'active'}[chooseFilmFlag == 3]">所有电影</a>
			<a href="" ng-click="getFilm(1)" ng-class="{true: 'active'}[chooseFilmFlag == 1]">已评价</a>
			<a href="" ng-click="getFilm(2)" ng-class="{true: 'active'}[chooseFilmFlag == 2]">未评价</a>
		</li>
	</ul>
	<div class="listinfo">
		<div ng-repeat="item in userAbout">
			<div class="cloumn1">
				<img src="{{item.image}}" alt="暂无图片" />
			</div>
			<div class="cloumn2">
				<p>片名:{{item.name}}</p>
				<p ng-show="item.othername">别名:{{item.otherName}}</p>
				<p ng-show="item.country">
				地区:{{item.country}}</p>
				<p ng-show="item.language">
				语言:{{item.language}}</p>
				<p ng-show="item.director">
				导演:{{item.director}}</p>
				<p ng-show="item.writer">
				编剧:{{item.writer}}</p>
				<p ng-show="item.kind">
				类型:{{item.kind}}</p>
				<p ng-show="item.date">
				年代:{{item.date}}</p>
				<p ng-show="item.actor">
				演员:{{item.actor}}</p>
				<p ng-show="item.length">
				时长:{{item.length}}</p>
				<p ng-show="item.buycount">
				已购:{{item.buycount}}</p>
			</div>
			<div class="cloumn3">
				<div ng-if="chooseFilmFlag == 2">
					<span>评分</span>
					<div class="rating rating-{{scoreNum}}">
					  <span>
					      <i class="star-1" ng-mouseover="scoreNum = '1'">★</i>
					      <i class="star-2" ng-mouseover="scoreNum = '2'">★</i>
					      <i class="star-3" ng-mouseover="scoreNum = '3'">★</i>
					      <i class="star-4" ng-mouseover="scoreNum = '4'">★</i>
					      <i class="star-5" ng-mouseover="scoreNum = '5'">★</i>
					  </span>
				    </div>
				    <div><input type="button" value="确定" class="button" ng-click="score(scoreNum, $index)" /></div>
				</div>
				<div ng-if="chooseFilmFlag == 1">
					<span>评分</span>
					<div class="rating rating-{{userAboutScore[$index] | numCeil}}">
					  <span>
					      <i class="star-1">★</i>
					      <i class="star-2">★</i>
					      <i class="star-3">★</i>
					      <i class="star-4">★</i>
					      <i class="star-5">★</i>
					  </span>
				    </div>
				</div>
				<div ng-if="chooseFilmFlag == 3"></div>
			</div>
		</div>
	</div>
</div>